@import url('https://fonts.cdnfonts.com/css/google-sans');
*{
    margin: 0;
    padding: 0;
    font-family: 'Product Sans', sans-serif;
}
#welcome{
    background-color: #150734;
    padding-top: 150px;
}
#welcome h1{
    color: #fff;
}
#welcome span{
    color: orange;
}
#welcome h2{
    color: #fff;
}
#welcome p{
    color: #fff;
}
#welcome button{
    padding: 15px;
    width: 150px;
    margin-top: 30px;
    background-color: orange;
    border: none;
    border-radius: 0px;
}
#welcome img{
    width: 100%;
}
#project{
    padding-top: 70px;
    padding-bottom: 70px;
}
.row{
    margin: 20px;
}
.container {
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    gap: 5rem;
}
.card{
    margin: 50px; 
}
#project h2{
    text-align: center;
    color: #150734;
    text-transform: uppercase;
    margin-bottom: 10px;
}
#project .card{
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#project a {
    text-decoration: none;
    color: black;
}

#project .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
#contact{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #150734;
    text-align: center;
}
#contact h1{
    color: orange;
}
#contact h4{
    color: #fff;
}
#contact a{
    color: #fff;
    text-decoration: none;
}

@media (max-width:577px) {
    .container{
        flex-direction: column;
        align-content: center;
        gap:1.2rem;
    }
    .card{
        margin: 30px;
    }
    img{
        object-fit: cover;
    }
}
@media (max-width:680px) {
    .container {
        flex-direction: column;
        align-content: center;
        gap: 1.2rem;
    }
    .card {
        margin:30px;
    }
}
@media (max-width:790px) {
    .container {
        flex-direction: column;
        align-content: center;
        gap: 1.2rem;
    }
    .card {
        margin:30px;
    }
}
@media (max-width:880px) {
    .container {
        flex-direction: column;
        align-content: center;
        gap: 1.2rem;
    }
    .card {
        margin:30px;
    }
}
@media (max-width:980px) {
    .container {
        flex-direction: column;
        align-content: center;
        gap: 1.2rem;
    }
    .card {
        margin:30px;
    }
}


